<!DOCTYPE html>
<html>
  <head>
    <title>Home Directory</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/home">Home Space</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav mr-auto flex-wrap">
          <li class="nav-item">
            <a class="nav-link btn btn-danger mr-5">{{ num_files }}files</a>
          </li>
           <li class="nav-item">
            <a class="nav-link btn btn-primary mr-5">{{ num_dirs }} dirs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-success mr-5">{{total_size}}Mb</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-secondary mr-5" href="/logout">Logout</a>
          </li>
          <a class="navbar-brand">welcome:{{username}}</a>
        </ul>
      </div>
    </nav>
    <form class="form-inline justify-content-center mt-3">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <div style="text-align: center;">
      <a class="navbar-brand">current home directory:{{path}}</a>
    </div>    
    <div class="container mt-5 mb-3 bg-dark">
      <table class="table table-dark">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Date de modification</th>
            <th>Taille</th>
          </tr>
        </thead>
        <tbody>
          {% for element in elements %}
            {% if element[1] %}
              <tr>
                <td><a href="{{ element[0] }}/">{{ element[0] }}</a></td>
                <td>{{ element[3]}}</td>
                <td>{{ element[4]}}</td>
              </tr>
              {% else %} {% if element[0].endswith('.txt') %}
              <tr>
                <td><a href="{{ element[2] }}"><span style="color: red;">{{ element[0] }}</span></a></td>
                <td>{{ element[3]}}</td>
                <td>{{ element[4]}}</td>
            {% else %}
              <tr>
                <td><span style="color: rgb(9, 146, 16);">{{ element[0] }}</span></td>
                <td>{{ element[2]}}</td>
                <td>{{ element[3]}}</td>
              </tr>
              {% endif %} {% endif %} {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>